<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <script
        src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-Xqcy5ttufkC3rBa8EdiAyA1VgOGrmel2Y+wxm4K3kI3fcjTWlDWrlnxyD6hOi3PF" crossorigin="anonymous">
        <script src="/js/scripts.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title>Cuisine Finder</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cuisines <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    {% if all_cuisines is not empty %}
                                        {% for cuisines in all_cuisines %}
                                            <li><a href='/cuisine/{{cuisines.getName}}'>{{cuisines.getName}}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <li>
                                    {% if user is not empty %}
                                        <a href="#">{{user.getName}}</a>
                                    {% endif %}
                                </li>
                            </li>
                        </ul>
                        {% if user is not empty %}
                        <form class="login purge cuisine" action="/logout" method="post">
                            <button type = "submit" class="btn btn-info">Log Out</button>
                        </form>

                            {% if user.getAuthority == 1%}
                                <form class="purge cuisine" action="/deleteAll" method="post">
                                    <button type = "submit" class="btn btn-warning">Purge</button>
                                </form>
                            {% endif %}
                        {% else %}

                            <button type = "button" class=" purge btn btn-info" data-toggle="modal" data-target="#login-modal">Log In</button>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <h1>Cuisine Finder</h1>

            {%if restaurants is not empty%}
            <table class="table table-striped table-hover ">
              <thead>
                <tr>
                  <th>#</th>
                  <th>{{cuisine.getName}} Options:</th>
                </tr>
              </thead>
              <tbody>
                  {% set count = 0 %}
                  {% for restaurant in restaurants %}
                  {% set count = count + 1%}
                <tr>
                  <td>{{count}}</td>
                  <td><a href='/restaurant/{{cuisine.getName}}/{{restaurant.getName}}'>{{restaurant.getName}}</a></td>
                  {% if user is not empty %}
                      {% if user.getAuthority == 1 %}
                      <td><form class="form-group tbl-del" action="/delete-restaurant/{{restaurant.getId}}" method="post">
                          <input type="hidden" name="_method" value="delete">
                          <button type="submit" class="btn btn-xs btn-danger" name="button">Remove</button>
                      </form></td>
                      {% endif %}
                  {% endif %}
                  {%endfor%}
                </tr>
              </tbody>
            </table>
            {%endif%}

            {% if user is not empty %}
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#form-modal">
              Add Restaurant
            </button>
            {% endif %}

            <!-- <form class="restaurant" action="/deleteAllByCuisine/{{cuisine.getName}}" method="post">
                <button type = "submit" class="btn btn-warning">Purge</button>
            </form> -->

            <!-- form modal -->
            <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content form-group">
                  <form class="form-horizontal" action="/cuisine/{{cuisine.getName}}" method="post">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">New Restaurant</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="restaurant" class="label-control">Add a new restaurant</label>
                            <input type="text" name = "restaurant" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="address" class="label-control">Address</label>
                            <input type="text" name = "address" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="website" class="label-control">Website</label>
                            <input type="text" name = "website" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="phone" class="label-control">Phone</label>
                            <input type="text" name = "phone" class="form-control">
                        </div>
                    </div>
                  <div class="modal-footer">
                    <button type = "submit" class="btn btn-success">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </form>
            </div>
            <!-- login modal -->
            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content form-group">
                        <div class="modal-header">Sign In</div>
                        <div class="modal-body">
                            <form class="" action="/login" method="post">
                                <label for="username">Username</label>
                                <input class="form-control" type="type" name="username">
                                <label for="password">Password</label>
                                <input class="form-control" type="password" name="password">

                                <button type = "submit" class="btn btn-success">Log In</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </form>
                        </div>
                        <hr>
                        <div class="modal-header">Register</div>
                        <div class="modal-body">
                            <form class="" action="/register" method="post">
                                <label for="username">Username</label>
                                <input class="form-control" type="type" name="username">
                                <label for="password">Password</label>
                                <input class="form-control" type="password" name="password">

                                <button type = "submit" class="btn btn-success">Register</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </body>
</html>
